*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(photo.jpg);
    
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    
    margin: 10px 20px;
    background: green;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;

}

.menu-bar ul li{
width: 120px;
margin: 15px;
padding: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
    background: rgb(179, 162, 162);
    border-radius: 4px;

}
.menu-bar fa{
    margin: 20px;
}
.sub-menu-1{
    display: none;
}

.menu-bar  ul li:hover  .sub-menu-1{
    display: block;
    position: absolute;
    background: green;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 4px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}



.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 120px;
    padding: 15px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
    
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: rgba(221, 238, 224, 0.521);

}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -30px;
    margin-left: 100px;
    background: black;
    border-radius: 4px;

}
.sub-menu-3{
    display: none;
}
.hover-on-me:hover .sub-menu-3{
    position: absolute;
    display: block;
    margin-top: -30px;
    margin-left: 100px;
    background: purple;
    border-radius: 4px;

}
@media screen and (max-width:1000px){
    ul{
        flex-direction: column;
    }
}
@media screen and (max-width:1000px){
    .hover-on-me:hover .sub-menu-3{
        position: absolute;
        display: block;
        margin-top: -30px;
        margin-left: 40px;
        background: rgb(18, 1, 18);
        border-radius: 4px;
}
